.scene.scene-5
	.scene__tipper.tipper.animation__gravitation.wow.Tipper-last(data-wow-duration="5s")
		.tipper__go.wow.Tipper-go(data-wow-duration="0.2s", data-wow-iteration="32")
			.tipper__cab.i-tipper-cab
			.tipper__body.wow.Tipper-trunk-open(data-wow-duration="3s", data-wow-delay="5s")
				.tipper__trunk.i-tipper-trunk
				.tipper__cargo.i-tipper-cargo.wow.Tipper-cargo-remote(data-wow-duration="3s", data-wow-delay="7s")
	.scene__B.animation__gravitation.i-B
	.scene__big-cargo.i-big-cargo.animation__gravitation
	.scene__cargo.cargo.i-cargo.animation__gravitation.wow.Tipper-cargo-add(data-wow-duration="3s", data-wow-delay="6s")
	.scene__people.people.animation__gravitation.i-people
	.scene__man.man.animation__gravitation.i-man
		.man__hand.wow.Man-waving.i-man-hand(data-wow-duration="3s", data-wow-delay="3.5s")
	