style.
    
    .banner {
        
        background: red; 
        left: 0; 
        bottom: 0; 
        z-index: 1000; 
        
        padding: 5px; 
        color: white;             
    }

    .banner a {
        color: white;
    }
    @media (min-width: 1000px) {
        .banner {
            position: fixed;
            width: 320px;
            font-style: 18px;
        }
    }
.banner
    | Внимание! Сайт продается. 
    br
    | Звоните по телефону: 
    a(href="tel:79009400325")
        | +79009400326
    |  Дмитрий (WhatsApp, Viber)