.certificate
	.skew.skew__right
		.animation.animation--bottom
			.scene__wrap
				.scene__container
					include animation/scene-4.jade
	.skew__content
		.container
			.row
				.col-xs-14
					h1.certificate__title
						span.select-place-black
							span.select-black
								| Сертификаты и разрешительная 
							span.select-black
								| документация:
		.certificate__slider-wrap
			.container
				.row
					.col-xs-14
						.certificate__slider-arrow
						.certificate__slider
							div
								.certificate__item
									a.certificate__item-link.fancy(href="images/certificate/full/1.jpg")
										img.lazy(data-original="images/certificate/1.jpg", alt="", width="235", height="297")
										noscript
											img(src="images/certificate/1.jpg", alt="")
							div
								.certificate__item
									a.certificate__item-link.fancy(href="images/certificate/full/2.jpg")
										img.lazy(data-original="images/certificate/2.jpg", alt="", width="235", height="297")
										noscript
											img(src="images/certificate/2.jpg", alt="")
							div
								.certificate__item
									a.certificate__item-link.fancy(href="images/certificate/full/3.jpg")
										img.lazy(data-original="images/certificate/3.jpg", alt="", width="235", height="297")
										noscript
											img(src="images/certificate/3.jpg", alt="")
							div
								.certificate__item
									a.certificate__item-link.fancy(href="images/certificate/full/1.jpg")
										img.lazy(data-original="images/certificate/1.jpg", alt="", width="235", height="297")
										noscript
											img(src="images/certificate/1.jpg", alt="")
							div
								.certificate__item
									a.certificate__item-link.fancy(href="images/certificate/full/2.jpg")
										img.lazy(data-original="images/certificate/2.jpg", alt="", width="235", height="297")
										noscript
											img(src="images/certificate/2.jpg", alt="")
							div
								.certificate__item
									a.certificate__item-link.fancy(href="images/certificate/full/3.jpg")
										img.lazy(data-original="images/certificate/3.jpg", alt="", width="235", height="297")
										noscript
											img(src="images/certificate/3.jpg", alt="")