.client.skew__wrap
	.skew.skew__left
		.skew__left-normal.skew__normal
			.skew__bg.client__bg
	.skew__content
		.container
			.row
				.col-xs-14
					h1.client__title
						span.select-white.select-place-white
							| Наши клиенты:
		.clearfix
			.client__arrows
		.container
			.row
				.col-xs-14
					.client__items
						figure.client__item
							.client__item-pr
								img(src="images/client/1.png", alt="ООО ТелеЦех")
							.client__item-desc
								| ООО 
								br
								| ТелеЦех
						figure.client__item
							.client__item-pr
								img(src="images/client/2.png", alt="АО фирма ЛИФТРЕМОНТ")
							.client__item-desc
								| АО фирма 
								br
								| ЛИФТРЕМОНТ
						figure.client__item
							.client__item-pr
								img(src="images/client/3.png", alt="ЗАО ВИК ТЕНЗО-М")
							.client__item-desc
								| ЗАО ВИК 
								br
								| ТЕНЗО-М
						figure.client__item
							.client__item-pr
								img(src="images/client/4.png", alt="ООО Градо-Строй")
							.client__item-desc
								| ООО 
								br
								| Градо-Строй
						figure.client__item
							.client__item-pr
								img(src="images/client/5.png", alt="ООО Приоритет Групп")
							.client__item-desc
								| ООО 
								br
								| Приоритет 
								br
								| Групп
						figure.client__item
							.client__item-pr
								img(src="images/client/6.png", alt="ООО Спецмонтаж-строй306")
							.client__item-desc
								| ООО 
								br
								| Спецмонтаж-
								br
								| строй306
						figure.client__item
							.client__item-pr
								img(src="images/client/7.png", alt="ОАО Малаховский экспериментальный завод")
							.client__item-desc
								| ОАО Малаховский 
								br
								| экспериментальный 
								br
								| завод
						figure.client__item
							.client__item-pr
								img(src="images/client/8.png", alt="ООО Аверс Экспорт")
							.client__item-desc
								| ООО 
								br
								| Аверс 
								br
								| Экспорт
						figure.client__item
							.client__item-pr
								img(src="images/client/9.png", alt="ООО Билдинг Лайнс")
							.client__item-desc
								| ООО 
								br
								| Билдинг 
								br
								| Лайнс
						figure.client__item
							.client__item-pr
								img(src="images/client/10.png", alt="ООО ДорТранс-11")
							.client__item-desc
								| ООО 
								br
								| ДорТранс-11
						figure.client__item
							.client__item-pr
								img(src="images/client/11.png", alt="ООО Киномир-прокат")
							.client__item-desc
								| ООО 
								br
								| Киномир-
								br
								| прокат
						figure.client__item
							.client__item-pr
								img(src="images/client/12.png", alt="ООО Магнит")
							.client__item-desc
								| ООО 
								br
								| Магнит
						figure.client__item
							.client__item-pr
								img(src="images/client/13.png", alt="ООО Сафоновская УК")
							.client__item-desc
								| ООО 
								br
								| Сафоновская УК
						figure.client__item
							.client__item-pr
								img(src="images/client/14.png", alt="ООО СЛАВСТРОЙ")
							.client__item-desc
								| ООО 
								br
								| СЛАВСТРОЙ
						figure.client__item
							.client__item-pr
								img(src="images/client/15.png", alt="ООО СтройХауз")
							.client__item-desc
								| ООО 
								br
								| СтройХауз
						figure.client__item
							.client__item-pr
								img(src="images/client/16.png", alt="ООО Энергетическое строительство")
							.client__item-desc
								| ООО 
								br
								| Энергетическое  
								br
								| строительство