.finish
	.container
		.row
			.col-xs-14
				h1.finish__title.yellow
					span.select-place-black
						span.select-black
							| Ищете, где купить нерудные 
						br
						span.select-black
							| материалы с точным завесом 
						br
						span.select-black
							| и доставкой в день заказа?
				h2.finish__slogan
					| Приходите в Мир грунта:
				p.finish__desc
					| Всегда в наличии чернозем, торф, грунт, все виды 
					br
					| смесей, а также иные строительные материалы 
					br
					| в Московской области по низким ценам.
			.col-xs-14.col-lg-5
				a.btn.btn-yellow.finish__btn.fancy(href="#call")
					| Оставить заявку
				p.finish__label
					| Оставьте заявку, и мы тут же 
					br
					| вам перезвоним!