
header.header
	.container
		.row
			.col-xs-14
				.header__container
					.header__container-logo.header__col
						img(src="images/logo.png", alt="")
					.header__container-slogan.header__col
						| Сыпучие строительные материалы 
						br
						span.yellow
							| в Московской области 
						| по ценам на 10-15% ниже рыночных
					.header__container-phone.header__col
						.phone
							span.phone__small
								| +7 (905) 
							| 724-19-07
					.header__container-btn.header__col
						a.fancy(href="#call").btn.btn-white.btn-block.header__btn
							| Перезвоните мне!
