title Мир грунта
meta(charset="UTF-8")
meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
meta(content="telephone=no", name="format-detection")
meta(name="yandex-verification", content="01afb6956e8a7369")
link(rel="icon", href="favicon.ico")
link(rel="SHORTCUT ICON", href="favicon.ico")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700")
link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="css/style.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
link(rel="stylesheet", href="bower/fancybox/source/jquery.fancybox.css")
link(rel="stylesheet", href="bower/slick-carousel/slick/slick.css")