.hidden
	.popup#call
		h4.popup__title
			| Обратный звонок
		form(action="mail.php", method="post")
			.form-group
				input.form-control.input--name(type="text", placeholder="Ваше имя", name="name", required)
			.form-group
				input.form-control.input--phone(type="text", placeholder="Ваш телефон", name="phone", required)
			button.btn.btn-white.btn-block.popup__btn(type="submit")
				| Отправить
	.popup#success
		h5.popup__title
			| Спасибо!
			br
			| Ждите звонка!
a.toUp#toTop