.main.skew__wrap
	.skew.skew__left
		.skew__left-normal.skew__normal
			.skew__bg.main__bg
	.skew__content
		.container
			.row
				.col-xs-14
					.main__slider-arrow
		.main__slider
			div.main__slide(data-bg-url="images/bg/main/1.jpg")
				.container
					.row
						.col-xs-14
							h1.main__title
								span.select-place-black
									span.yellow.select-black
										| Песок, щебень, гравий, грунт 
									br
									span.select-black
										| напрямую из карьеров 
									br
									span.yellow.select-black
										| с доставкой на объекты 
							a.btn.btn-yellow.fancy(href="#call")
								| Заказать
			div.main__slide(data-bg-url="images/bg/main/2.jpg")
				.container
					.row
						.col-xs-14
							h1.main__title
								span.select-place-black
									span.yellow.select-black
										| Качественные уголь и сухие 
									br
									span.yellow.select-black
										| горючие дрова 
										span.white
											| с доставкой 
									br
									span.yellow.select-black
										| по Московской области
							a.btn.btn-yellow.fancy(href="#call")
								| Заказать
			div.main__slide(data-bg-url="images/bg/main/3.jpg")
				.container
					.row
						.col-xs-14
							h1.main__title
								span.select-place-black
									span.white.select-black
										| Выгодные акции: 
										span.yellow
											| до конца лета 
									br
									span.yellow.select-black
										| асфальтовая крошка 
									br
									span.yellow.select-black
										| с экономией 15000 руб/30 тонн 
							a.btn.btn-yellow.fancy(href="#call")
								| Заказать
			div.main__slide(data-bg-url="images/bg/main/4.jpg")
				.container
					.row
						.col-xs-14
							h1.main__title
								span.select-place-black
									span.white.select-black
										| Только у нас: 
										span.yellow
											| вторсырье по самым 
									br
									span.yellow.select-black
										| низким ценам в области: асфальтовая 
									br
									span.yellow.select-black
										| крошка, бой кирпича, дробленый бетон
							a.btn.btn-yellow.fancy(href="#call")
								| Заказать
			
		.main__profit.profit.skew__wrap
			.skew.skew__left(style="z-index: -100")
				.skew__left-normal.skew__normal
					.skew__bg.profit__bg
				.animation.animation--bottom
					.scene__wrap
						.scene__container
							include animation/scene-1.jade
			.skew__content
				.container
					.row
						.col-xs-14
							.profit__items
								figure.profit__item
									.profit__item-icon
										.i-profit-1
									.profit__item-title
										| Дёшево
									.profit__item-desc
										| Наши стройматериалы на 10-15% 
										| ниже среднерыночной цены, 
										| т.к. мы работаем с карьерами 
										| напрямую, минуя посредников
								figure.profit__item
									.profit__item-icon
										.i-profit-2
									.profit__item-title
										| Без недовеса
									.profit__item-desc
										| Мы взвешиваем материалы 
										| на грузовых весах на складе 
										| перед отправкой
								figure.profit__item
									.profit__item-icon
										.i-profit-3
									.profit__item-title
										| Доставка от 2 часов
									.profit__item-desc
										| Мы не зависим от работы 
										| грузовых компаний, у нас свой 
										| автопарк с пунктуальными 
										| сотрудниками
								figure.profit__item
									.profit__item-icon
										.i-profit-4
									.profit__item-title
										| качественно
									.profit__item-desc
										| Все стройматериалы 
										| соответствуют 
										| ГОСТам и СНИПам
									


