.product
	.skew.skew__left: .animation.animation--bottom: .scene__wrap: .scene__container
		include animation/scene-3.jade
	.skew__content: .container
		.row: .col-xs-14: h1.product__title: span.select-black.select-place-black Что вы можете купить у нас?
		.row
			.col-xs-7
				figure.product__item
					.product__item-bg: img.img-responsive(src="images/product/1.jpg", alt="Песок карьерный мытый", width="470", height="414")
					.product__item-container
						.product__item-place
							.product__item-title: h3 Грунт
							.product__item-desc: table.table__price-list
								tr
									td: span.table__title Торф
									td: span.table__title 1000 руб./м.
								tr
									td: span.table__title Чернозем
									td: span.table__title 1100 руб./м.
								tr
									td: span.table__title Торфо-песчаная смесь
									td: span.table__title 900 руб./м.
								tr
									td: span.table__title Торфо-земельная смесь
									td: span.table__title 900 руб./м.
								tr
									td: span.table__title Плодородный грунт
									td: span.table__title 500 руб./м.
				figure.product__item
					.product__item-bg: img.img-responsive(src="images/product/2.jpg", alt="Песок карьерный мытый", width="470", height="414")
					.product__item-container
						.product__item-place
							.product__item-title: h3 Песок
							.product__item-desc: table.table__price-list
								tr
									td: span.table__title Речной
									td: span.table__title 650 руб./м.
								tr
									td: span.table__title Карьерный
									td: span.table__title 400 руб./м.
								tr
									td: span.table__title Намывной
									td: span.table__title 500 руб./м.
								tr
									td: span.table__title Пескогрунт
									td: span.table__title 200 руб./м.

			.col-xs-7
				figure.product__item
					.product__item-bg: img.img-responsive(src="images/product/3.jpg", alt="Песок карьерный мытый")
					.product__item-container
						.product__item-place
							.product__item-title: h3 щебень гранитный
							.product__item-desc
								table.table__price-list
									tr
										td: span.table__title Гранитный 5/10
										td: span.table__title 2200 руб./м.
									tr
										td: span.table__title Гранитный 5/20
										td: span.table__title 2200 руб./м.
									tr
										td: span.table__title Гранитный 20/40
										td: span.table__title 2200 руб./м.
									tr
										td: span.table__title Гравийный 5/20
										td: span.table__title 1700 руб./м.
									tr
										td: span.table__title Гравийный 20/40
										td: span.table__title 1700 руб./м.
									tr
										td: span.table__title Известняковый 5/20
										td: span.table__title 1350 руб./м.
									tr
										td: span.table__title Известняковый 20/40
										td: span.table__title 1300 руб./м.
									tr
										td: span.table__title Известняковый 40/70
										td: span.table__title 1300 руб./м.
									tr
										td: span.table__title Вторичный 5/20
										td: span.table__title 1000 руб./м.
									tr
										td: span.table__title Вторичный 20/40
										td: span.table__title 900 руб./м.
									tr
										td: span.table__title Вторичный 40/70
										td: span.table__title 900 руб./м.
									tr
										td: span.table__title Отсев дробления
										td: span.table__title 450 руб./м.
									tr
										td: span.table__title Отсев гранитный
										td: span.table__title 2200 руб./м.
									tr
										td: span.table__title Асфальтовая крошка
										td: span.table__title 1000 руб./м.
									tr
										td: span.table__title Керамзит
										td: span.table__title 1600 руб./м.
		.row
			.col-xs-14
				.text-center
					a.btn.btn-yellow.product__btn.fancy(href="#call")
						| Оформить заказ
