.reviews.skew__wrap
	.skew.skew__right
		.skew__right-normal.skew__normal
			.skew__bg.reviews__bg
	.skew__content
		.container
			.row
				.col-xs-14
					h1.reviews__title
						span.select-white.select-place-white
							| Отзывы:
					.reviews__slider
						.reviews__slide
							.reviews__slide-container
								.reviews__slide-desc
									| «Уже три года сотрудничаю с Мир грунта, покупаю песок с доставкой для производства бетона, работ по бетонированию.
									| Также брал как-то раз тротуарную плитку. К качеству нареканий никаких: я пока не нашел, где бы еще мог купить дешевый песок в хорошем качестве и без неприятных сюрпризов в виде недовеса.»
								.reviews__slide-place
									.reviews__slide-title
										| Иван Гореев
									.reviews__slide-comp
										| компания «ЖилСтройРемонт»
						.reviews__slide
							.reviews__slide-container
								.reviews__slide-desc
									| «Хочу выразить благодарность от лица директора организации за бесперебойное обеспечение 
									| наших бань отличными дровами. Привлекательные цены, доставка всегда в день обращения. 
									| Уже привык к тому, что купить дрова с доставкой занимает 2-3 часа, и продукция всегда есть на складе.»
								.reviews__slide-place
									.reviews__slide-title
										| Евгений Черемных
									.reviews__slide-comp
										| «Московские бани»
						.reviews__slide
							.reviews__slide-container
								.reviews__slide-desc
									| «Перед стартом дачного сезона заказывали гравий и щебень для отсыпки дорог. 
									| Бюджет бы ограничен, ориентировались на цену. В Мире грунта она оказалась самой выгодной. 
									| Доставляют своим грузовым транспортом, быстро и вовремя. Я доволен, буду заказывать еще.»
								.reviews__slide-place
									.reviews__slide-title
										| Николай Обухов
									.reviews__slide-comp
										| управляющий ДНТ «Золотые ключи»
						.reviews__slide
							.reviews__slide-container
								.reviews__slide-desc
									| «Заказывали относительно небольшими партиями песок для песочниц и тротуарную плитку. Песок отличный, ни в какое сравнение не идет с тем, что насыпали в прошлом году в другой компании (с камнями и мусором). 
									| Чистый, мелкий, без камней. Плитка тоже очень понравилась строителям и жильцам.»
								.reviews__slide-place
									.reviews__slide-title
										| Юрий Кожуховский
									.reviews__slide-comp
										| ТСЖ «Синяя птица»
						.reviews__slide
							.reviews__slide-container
								.reviews__slide-desc
									| «Моя компания занимается озеленением газонов, ландшафтным дизайном по Московской области. 
									| Город, частники заказывают услугу «под ключ», поэтому покупаю грунт для земельных работ сама.
									| Очень довольна тем, какой торф и грунт поставляет компания Мир грунта. Всегда можно договориться по объемам, доставка без опозданий, выгрузка бережная. Ну и еще важный момент: купить плодородный грунт в Мире грунта можно по очень приятным ценам.»
								.reviews__slide-place
									.reviews__slide-title
										| Дарья Розанова
									.reviews__slide-comp
										| директор компании «Ландшафт Эра»
						.reviews__slide
							.reviews__slide-container
								.reviews__slide-desc
									| «Часто покупаю с доставкой строительный песок, и в последнее время беру только в Мире грунта.
									| Крупный, средний, природный – брал разный. Всегда песок добре! За счет своего автопарка компании Мир грунта экономлю на доставке, + доставляют всегда очень быстро, за считанные часы, и всегда можно договориться, чтобы привезли к началу раб. дня, чтобы стройка не стояла. Доволен, рекомендую.»
								.reviews__slide-place
									.reviews__slide-title
										| Сан Саныч
									.reviews__slide-comp
										| прораб
						.reviews__slide
							.reviews__slide-container
								.reviews__slide-desc
									| «С Мир грунта сотрудничаем уже второй год. Покупаю уголь в мешках и навалом, фасую и торгую в розницу.
									| За что ценю и уважаю Мир грунта: качество продукции всегда на 5+, организованность на твердую пятерку.
									| И цена. Она просто лучшая в области.»
								.reviews__slide-place
									.reviews__slide-title
										| Арсений Рориц
									.reviews__slide-comp
										| компания «Уголь Плюс»
						.reviews__slide
							.reviews__slide-container
								.reviews__slide-desc
									| «Нужно было 1000 кубов асфальтовой крошки для ремонта автодорог. Решение было принято в пользу Мира грунта без сомнений, т.к. экономия при покупке выходила очень хорошая: с учетом сезонной акции на крошку 85 000 рублей.
									| Цена не оставила шансов конкурентам. Но что порадовало: асфальт хоть и крошеный, но хороший, доставка даже таких объемов быстрая, все привезли буквально за несколько дней. )
								.reviews__slide-place
									.reviews__slide-title
										| Антон Прохоров
									.reviews__slide-comp
										| компания «АвтоДор»
						