script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="js/jquery.lazyload.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")
script(src="js/jquery.form.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js")
script(src="js/jQuery.scrollSpeed.js")
script(src="js/main.js")
script(src="js/animation.js")
