script(src="bower/jquery/dist/jquery.min.js")
script(src="js/jquery.lazyload.js")
script(src="bower/slick-carousel/slick/slick.min.js")
script(src="bower/fancybox/source/jquery.fancybox.js")
script(src="js/jquery.form.min.js")
script(src="bower/wow/dist/wow.min.js")
script(src="bower/jquery.maskedinput/dist/jquery.maskedinput.min.js")
script(src="js/jQuery.scrollSpeed.js")
script(src="js/main.js")
script(src="js/animation.js")