doctype html
html
	head
		include jade/head.jade
		include jade/scripts.jade
		include jade/metrika.html
	body
		//- include jade/banner.jade
		include jade/header.jade
		include jade/main.jade
		include jade/action.jade
		include jade/product.jade
		include jade/client.jade
		include jade/certificate.jade
		include jade/reviews.jade
		include jade/finish.jade
		include jade/map.jade
		include jade/foo.jade
		include jade/hidden.jade
