.scene-4
		.scene__tipper.animation__gravitation.tipper.tipper--reverse.wow.Tipper-go-left(data-wow-duration="20s")
			.tipper__go.wow.Tipper-go(data-wow-duration="0.2s", data-wow-iteration="100")
				.tipper--reverse__cab.i-tipper-cab-reverse
				.tipper--reverse__body
					.tipper--reverse__trunk.i-tipper-trunk-reverse
					.tipper--reverse__cargo.i-tipper-cargo-reverse
	