.scene-3
		.scene__tipper.animation__gravitation.tipper.animation__gravitation.wow.Tipper-go-right(data-wow-duration="20s")
			.tipper__go.wow.Tipper-go(data-wow-duration="0.2s", data-wow-iteration="100")
				.tipper__cab.i-tipper-cab
				.tipper__body
					.tipper__trunk.i-tipper-trunk
					.tipper__cargo.i-tipper-cargo
