.scene-1
	
		.i-A.scene__A.animation__gravitation
		.scene__excavator.excavator.animation__gravitation
			.excavator__cab.wow.i-excavator-cab
			.excavator__arr-1.wow.i-excavator-arr-1.Excavator-arr-1(data-wow-duration="6s")
				.excavator__arr-2.wow.i-excavator-arr-2.Excavator-arr-2(data-wow-duration="6s")
					.excavator__scoop.wow.i-excavator-scoop.Excavator-scoop(data-wow-duration="6s")
		.scene__tipper.tipper.animation__gravitation.wow.Tipper-go-right(data-wow-delay="4.5s", data-wow-duration="20s")
			.tipper__go.wow.Tipper-go(data-wow-duration="0.2s", data-wow-iteration="100", data-wow-delay="4.5s")
				.tipper__cab.i-tipper-cab
				.tipper__body
					.tipper__trunk.i-tipper-trunk
					.tipper__cargo.i-tipper-cargo.wow.Tipper-cargo-add(data-wow-duration="3s", data-wow-delay="1.5s")